.encabezado {
    height: 40px;
    width: 100%;
    background-color: grey;
    text-align: center;
}

.contenedor_opciones {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

select {
    border: black 2px solid;
}

.contenedor_busquedad {
    width: 100%;
    height: auto;
    display: grid;
    flex-direction: column;
    gap: 10px;
}